!!!
html
  head
    title="Pique your interest"
    link(rel="stylesheet", href="/stylesheets/pique.css")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
    script(type="text/javascript", src="/scripts/underscore.js")
    script(type="text/javascript", src="/scripts/backbone.js")
    script(type="text/javascript", src="/scripts/backbone-relational.js")
    script(type="text/javascript", src="/dnode.js")
    script(type="text/javascript", src="/scripts/lumbar.js")
    script(type="text/javascript", src="/scripts/pique.js")
  body
    !=body